@import "tailwindcss";

:root {
	--muted: #f3f4f6;
	--accent: #7c3aed;
	--card-bg: #ffffff;
}

body {
	font-family:
		Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial;
}

.muted {
	color: #6b7280;
}
